/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
@font-face {
    font-family: 'Russo One';
    src: local('/fonts/Russo One'), 
    local('/fonts/RussoOne'), 
    url('/fonts/russoone.woff2') format('woff2'), 
    url('/fonts/russoone.woff') format('woff'), 
    url('/fonts/russoone.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

.b-page_initial-scroll_yes.b-page_js_inited {
    overflow-y: auto;
}
body.b-page__body {
    font-size: 13px;
    line-height: 1.154;
}
body.b-page__body {
    height: 100%;
    padding: 0;
}
.b-page_initial-scroll_yes {
    overflow-y: scroll;
}
canvas {
    margin: 0 auto;
    width: 100%;
}
#canvas {
    left: 0;
    top: 0;
}

body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
}
.wrapper {
	max-width: 1000px;
	min-width: 320px;
	margin: 0 auto;
}
.background-top{
	background:#aaa;
}
.top-section{
	height:200px;
	background:#ccc;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	
}
/*start component anons on main page*/
	.anons-wrapper {
		background-image: url("/images/anons-bg.jpg");
	    background-position: center bottom;
	    background-repeat: no-repeat;
	    background-size: cover;
	}

/*end component anons on main page*/

/*start component main-menu*/
.main-menu {
    display: inline-block;
    height: 238px;
    width: 100%;
   	background-image: url("/images/main-menu-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.main-menu li a {
    color: #f9e6b8;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Russo One;
}
.main-menu li a:hover {
	color:#e0b317;
}
.menu-wrapper{
	padding-top:20px;
	padding-left: 20px;
	padding-right: 20px;
}
.main-menu li{
	display: inline-block;
	margin-top: 45px;
	text-align: center;
}
.main-menu-left{
	float: left;
}
.main-menu-right{
	float: right;
}

.main-menu::before {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/images/main-menu-left-decor.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    bottom: 37px;
    content: "";
    display: block;
    height: 172px;
    left: -53px;
    position: absolute;
    width: 53px;
}

.main-menu::after {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/images/main-menu-right-decor.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    bottom: 37px;
    content: "";
    display: block;
    height: 172px;
    right: -53px;
    position: absolute;
    width: 53px;
}
.main-menu-left li {
    padding-right: 15px;
}
.main-menu-left li:first-child p {
    background-image: url("/images/main-menu-o-bare-ico.png");
    height: 77px;
    width: 64px;
		background-repeat: no-repeat;
}
.main-menu .main-menu-left li:nth-child(2) {
    position: relative;
    top: 16px;
    width: 66px;
}
.main-menu-right li:nth-child(2) {
    width: 122px;
    position: relative;
    top: 16px;
}
.main-menu-right li:nth-child(3) {
    width: 122px;
    position: relative;
    top: 16px;
}
.main-menu-left li:nth-child(2) p {
    background-image: url("/images/main-menu-bar-and-kuhnya-ico.png");
    height: 74px;
    width: 68px;
		background-repeat: no-repeat;
}

.main-menu .main-menu-left li:nth-child(3) {
    width: 76px;
    position: relative;
    top: 16px;
}
.main-menu-left li:nth-child(3) p {
    background-image: url("/images/main-menu-merop-ico.png");
    height: 68px;
    width: 68px;
		background-repeat: no-repeat;
}
.main-menu-left li:nth-child(4) p {
    background-image: url("/images/main-menu-gallery-ico.png");
    height: 64px;
    width: 80px;
		background-repeat: no-repeat;
}
.main-menu li a:hover p{
	background-position: 0% 100%;
}

.main-menu-right  li {
    margin-top: 40px;
}
.main-menu-right  li a{
	text-align:center;
}
.main-menu-right li:first-child p {
    background-image: url("/images/main-menu-reviews-ico.png");
    height: 68px;
    width: 73px;
		background-repeat: no-repeat;
}
.main-menu-right li:nth-child(2) p {
    background-image: url("/images/main-menu-banketnoe-ico.png");
    height: 72px;
    width: 74px;
		display: inline-block;
		background-repeat: no-repeat;
}
.main-menu-right li:nth-child(3) p {
    background-image: url("/images/main-menu-articles-ico.png");
    height: 70px;
    width: 77px;
		display: inline-block;
		background-repeat: no-repeat;
}
.main-menu-right li:nth-child(4) p {
    background-image: url("/images/main-menu-contact-ico.png");
    height: 71px;
    width: 58px;
		display: block;
		background-repeat: no-repeat;
}
.anons-list-head{
	font-size:2.5em;
	font-family: russo one;
	text-align: center;
	margin-top:33px;
}
/*end component main-menu*/


/*start component anons-slider*/
.anons-slider{

}
.anons-wrapper.autosize{
	position:relative;
}

.order-inputs-text {
    bottom: 31%;
    position: absolute;
}
/*end component anons-slider*/

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 100px;

}