/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
@font-face {
    font-family: 'Russo One';
    src: local('/fonts/Russo One'), 
    local('/fonts/RussoOne'), 
    url('/fonts/russoone.woff2') format('woff2'), 
    url('/fonts/russoone.woff') format('woff'), 
    url('/fonts/russoone.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	position:relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

.b-page_initial-scroll_yes.b-page_js_inited {
    overflow-y: auto;
}
body.b-page__body {
    font-size: 13px;
    line-height: 1.154;
}
body.b-page__body {
    height: 100%;
    padding: 0;
}
.b-page_initial-scroll_yes {
    overflow-y: scroll;
}
canvas {
    margin: 0 auto;
    width: 100%;
}
#canvas {
    left: 0;
    top: 0;
}

body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
}
.wrapper {
	max-width: 1000px;
	min-width: 320px;
	margin: 0 auto;
}
.background-top{
	background:#aaa;
}
.top-section{
	height:200px;
	background:#ccc;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
}


/* Middle
-----------------------------------------------------------------------------*/
.content {
	
}
/*only main page*/
.top-block-anim, .anons-wrapper, .events-wrapper, .last-photo-wrapper, .video-main-page-wrapper, .about-wrapper{
    border-bottom: 3px solid #df3;
}
/*top block*/
.top-block-anim {
	background-image:url(/images/anim/palmi-l.png),url(/images/anim/palmi-r.png),url(/images/anim/boat.png),url(/images/anim/top-anim-bg.jpg);
	background-size: cover,cover, auto, cover;
	background-repeat: no-repeat, no-repeat, no-repeat,no-repeat;
	background-position: left top , right top,center 100px, bottom center;
	position: relative;
}
.top-block-anim .wrapper{
	position: relative;
}
#anim-bg{
	max-width: 1500px;
	margin: auto;
}
.anim-block-menu > li {
	position: absolute;
}
.anim-block-menu > li:first-child {
    top: 44%;
}
@media(max-width: 1500px){
	.top-block-anim {
		background-image:url(/images/anim/boat.png),url(/images/anim/top-anim-bg.jpg);
		background-size:  auto, cover;
		background-repeat:  no-repeat,no-repeat;
		background-position:center 100px, bottom center;
	}
}
/*end tob block*/

/*start component main-menu*/
.main-menu {
    display: inline-block;
    height: 238px;
    width: 100%;
   	background-image: url("/images/main-menu-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}
.main-menu li a {
    color: #f9e6b8;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Russo One;
}
.main-menu li a:hover {
	color:#e0b317;
}
.menu-wrapper{
	padding-top:20px;
	padding-left: 20px;
	padding-right: 20px;
}
.main-menu li{
	display: inline-block;
	margin-top: 45px;
	text-align: center;
}
.main-menu-left{
	float: left;
}
.main-menu-right{
	float: right;
}

.main-menu::before {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/images/main-menu-left-decor.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    bottom: 37px;
    content: "";
    display: block;
    height: 172px;
    left: -53px;
    position: absolute;
    width: 53px;
}

.main-menu::after {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/images/main-menu-right-decor.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
    bottom: 37px;
    content: "";
    display: block;
    height: 172px;
    right: -53px;
    position: absolute;
    width: 53px;
}
.main-menu-left li {
    padding-right: 15px;
}
.main-menu-left li:first-child p {
    background-image: url("/images/main-menu-o-bare-ico.png");
    height: 77px;
    width: 64px;
		background-repeat: no-repeat;
}
.main-menu .main-menu-left li:nth-child(2) {
    position: relative;
    top: 16px;
    width: 66px;
}
.main-menu-right li:nth-child(2) {
    width: 122px;
    position: relative;
    top: 16px;
}
.main-menu-right li:nth-child(3) {
    width: 122px;
    position: relative;
    top: 16px;
}
.main-menu-left li:nth-child(2) p {
    background-image: url("/images/main-menu-bar-and-kuhnya-ico.png");
    height: 74px;
    width: 68px;
		background-repeat: no-repeat;
}

.main-menu .main-menu-left li:nth-child(3) {
    width: 76px;
    position: relative;
    top: 16px;
}
.main-menu-left li:nth-child(3) p {
    background-image: url("/images/main-menu-merop-ico.png");
    height: 68px;
    width: 68px;
		background-repeat: no-repeat;
}
.main-menu-left li:nth-child(4) p {
    background-image: url("/images/main-menu-gallery-ico.png");
    height: 64px;
    width: 80px;
		background-repeat: no-repeat;
}
.main-menu li a:hover p{
	background-position: 0% 100%;
}

.main-menu-right  li {
    margin-top: 40px;
}
.main-menu-right  li a{
	text-align:center;
}
.main-menu-right li:first-child p {
    background-image: url("/images/main-menu-reviews-ico.png");
    height: 68px;
    width: 73px;
		background-repeat: no-repeat;
}
.main-menu-right li:nth-child(2) p {
    background-image: url("/images/main-menu-banketnoe-ico.png");
    height: 72px;
    width: 74px;
		display: inline-block;
		background-repeat: no-repeat;
}
.main-menu-right li:nth-child(3) p {
    background-image: url("/images/main-menu-articles-ico.png");
    height: 70px;
    width: 77px;
		display: inline-block;
		background-repeat: no-repeat;
}
.main-menu-right li:nth-child(4) p {
    background-image: url("/images/main-menu-contact-ico.png");
    height: 71px;
    width: 58px;
		display: block;
		background-repeat: no-repeat;
}
@media (min-width: 1000px) and (max-width: 1100px){
	.main-menu::after {
		display: none;
	}
	.main-menu::before {
		display: none;
	}	
	.main-menu{
		background-size: contain;
	}

	.main-menu-left {
	    margin-left: 45px;
	}
	.main-menu-left li{
		padding-right: 5px;
	}
	.main-menu-right li{
		padding-right: 5px;
	}

	.main-menu-right li:nth-child(3) {
	    width: 85px;
	}

	.main-menu-right {
	    margin-right: 24px;
	}
	.main-menu li a{
		font-size: 0.9em;
	}
	.main-menu-right li:nth-child(2) {
	    position: relative;
	    top: 16px;
	    width: 105px;
	}

}
@media (max-width: 1000px){
	.main-menu{
		display: none;
	}
}

/*end component main-menu*/


/*start component anons-slider*/
.anons-list-head{
	font-size:2.5em;
	font-family: russo one;
	text-align: center;
	margin-top:33px;
	margin-bottom:30px;
}
.anons-wrapper {
		background-image: url("/images/anons-bg.jpg");
	  background-position: center bottom;
	  background-repeat: no-repeat;
	  background-size: cover;
		
}
.sl-paginate{
	float:right;
	
}
.sl-paginate > div {
    display: inline-block;
		cursor:pointer;
		height:55px;
		width:55px;
		background-color:#e0b317;
		color:#fff;
		text-align:center;
}
.sl-paginate > div.current, .sl-paginate > div:hover{
	background-color:#5e8f12;
}

.slider-anons .sl-paginate span {
    font-size: 2.5em;
    line-height: 1.7em;
		font-weight:bold;
}
.anons-wrapper.autosize{
	position:relative;
}
.sl-prev, .sl-next{
    position: relative;
    top: 19px;
}
.sl-prev{
	background-image:url(/images/anons-arrow-left.png);
	background-repeat:no-repeat;
	background-position:center, center;
}
.sl-next{
	background-image:url(/images/anons-arrow-right.png);
	background-repeat:no-repeat;
	background-position:center, center;
}
.order-inputs-text {
	bottom: 15%;
	position: absolute;
}
.order-inputs-text input[type="text"]{
	width: 200px;
	height: 30px;
	border:1px solid #951a12;
}

.order-send-btn{
  position: absolute;
	background-color: #cc371a;
	box-shadow: 0px 5px 0px 0px #890404;
	border-radius: 5px;
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	border:none;
	text-transform: uppercase;
	cursor: pointer;
	bottom: 7%;
	margin-left: 150px;
}
.order-send-btn:hover{
	background-color: #aa1500;
}
.slider-ananos{
	height: 400px;
}
.coverflow .cover{
	cursor: pointer;
}
.sl-paginate .current{

}

.slider-anons .slide-text {
    background-image:url(/images/anons-slider-bg.png);
    position: relative;
    top: -5px;
		padding-top:10px;
		padding-left:20px;
}
.slider-anons .slide-date {
    color: #ffe07d;
    font-family: Russo One;
    font-size: 1.1em;
}
.coverflow {
	padding-bottom: 50px;
}
.slider-anons .slide-name{
	color:#fff;
	font-size:1.57em;
	font-family:RussoOne;
	font-weight:bold;
	padding-bottom:10px;
}

.anons-btn {
    background-image:url(/images/anons-btn.png);
    bottom: 20px;
    display: inline-block;
    height: 134px;
    position: absolute;
    width: 134px;
}
.anons-btn:hover{
	background-position:0 100%;
}
@media (min-width: 1920px){
	.order-inputs-text {
    bottom: 19%;
    position: absolute;
	}
	.order-send-btn{
		margin-left: 108px;
		bottom:10%;
	}
}
@media (min-width: 1100px){
	.order-inputs-text {

	}
	.order-inputs-text input[type="text"]{

	}
	.order-send-btn{

	}
}
@media (min-width: 1000px) and (max-width: 1100px){
	.order-inputs-text {
	    bottom: 15%;
	    margin-left: 20px;
	    position: absolute;
	}
}
@media (max-width: 1000px){
	.order-inputs-text{
		position: relative;
	}
	.add-order-table{
		text-align: center;
	}
	.order-send-btn{
		margin-left: 0px;
		margin-top: 10px;
		position: relative;
	}
	.add-order-table{
		margin-top:10px;
	}
	.anons-list-head{
		font-size:1.2em;
		margin-bottom:10px;
		margin-top:10px;
	}
	.sl-paginate{
		float:none;
	}
	.slider-anons{
		text-align:center;
	}
	.slider-anons .cover img {
			width: 250px;
	}
	.order-inputs-text input[type="text"]{
		margin-bottom:10px;
		margin-bottom:10px;
	}
}
@media (max-width: 680px){
		.slider-anons .cover img {
			width: 200px;
	}
}

/*end component anons-slider*/

/*start component events-list*/
.events-wrapper{
	background-image:url(/images/events-list-bg.jpg);
	background-position: center center;
	background-repeat:no-repeat;
	background-size:cover;
	
}
.events-list h2{
	text-align:center;
}

.events-list h2 {
    font-family: Russo One;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 20%;
    text-align: center;
}
.events {
    display: inline-block;
    margin-top: 140px;
    text-align: center;
    width: 100%;
}
.events-list{
	position:relative;
	text-align:center;
}
.events-wrapper .events-item {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
		width: 19%;
		border-right:3px solid #745326;
		border-top:3px solid #745326;
		background-color:#000;
		text-align:center;
}
.event-list-date {
    color: #ffe07d;
    font-family: Russo One;
    font-size: 1.1em;
}
.events::after {
    clear: both;
    content: "";
    display: block;
}

.events-name {
    color: #fff;
    font-family: RussoOne;
    font-size: 1.57em;
    font-weight: bold;
    padding-bottom: 10px;
		display:block;
		text-decoration:none;
}

.events-text {
    background-color:#000;
    padding-top: 10px;
    position: relative;
}
.events-item img {
    width: 100%;
}
.events-wrapper{
	position:relative;
}
.events-btn{
	background-color: #cc371a;
	box-shadow: 0px 5px 0px 0px #890404;
	border-radius: 5px;
	padding: 20px 40px;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	border:none;
	text-transform: uppercase;
	cursor: pointer;
	bottom: 7%;
	left:0px;
	margin-top:20px;
	font-size:1.6em;
	font-weight:bold;
}
.events-btn:hover{
	background-color: #aa1500;
}
/*end component events-list*/

/*start component last photo*/
.last-photo-wrapper{
	position:relative;
	background-image:url(/images/last-photo-bg.jpg);
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	text-align:center;
}
.last-photo h2{
		font-family: Russo One;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 20%;
    text-align: center;
		padding-bottom:20px;
}
.last-photo-list{
	background-color:#f5e090;
	padding-top:20px;
	padding-bottom:20px;
}
/*end component last photo*/

/*start video section on main page*/
.video-main-page h2{
		font-family: Russo One;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 20%;
    text-align: center;
		padding-bottom:20px;
}
.video-inc iframe{
	border:5px solid #f5e090;
}
.video-main-page-wrapper{
	background-image:url(/images/video-bg.jpg);
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	text-align:center;
	position:relative;
}
/*end video section on main page*/

/*start about include area*/
.about-wrapper{
	background-image:url(/images/about-bg.jpg);
}

.about-left {
    float: left;
    width: 25%;
		margin-top: 70px;
}

.about-right {
    float: left;
    width: 66%;
	background-image: url("/images/anons-slider-bg.png");
	color:#fff;
	padding: 0 40px 40px;
	margin-top: 70px;
}

.about-right > h2 {
    color: #e0b317;
    font-family: Russo One;
    font-size: 2em;
    margin-bottom: 25px;
    padding-top: 40px;
}
.about {
	padding-bottom: 50px;
}
.about:after{
	display:black;
	content:"";
	clear:both;
}
.about-left img {
    display: block;
    margin-bottom: 19px;
}
/*end about include area*/

/*start bottom menu*/
.bottom-menu{
	margin-bottom:20px;
}
.bottom-menu li {
    display: inline-block;
		margin-left:20px;
}
.bottom-menu li:first-child{
	margin-left:0px;
}
.bottom-menu li a {
    color: #fff;
    font-family: Russo One;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
}
/*end bottom menu*/
.adres-info{
	font-size:1.2em;
}
.footer-content .footer-col {
    display: inline-block;
		color:#fff;
		width:24.5%;
}
.social-ico li a{
	width:50px;
	height:50px;
	border-radius:100%;
	background-image:url(/images/soc-bg.png);
	display:inline-block;
}
.social-ico .vk-ico{
	background-image: url(/images/vk-ico.png), url(/images/soc-bg.png);
	background-repeat: no-repeat, repeat;
	background-position: center center,0 0;
}
.social-ico .inst-ico{
	background-image: url(/images/inst-ico.png), url(/images/soc-bg.png);
	background-repeat: no-repeat, repeat;
	background-position: center center,0 0;
}
.social-ico .fb-ico{
	background-image: url(/images/fb-ico.png), url(/images/soc-bg.png);
	background-repeat: no-repeat, repeat;
	background-position: center center,0 0;
}
.social-ico .gplus-ico{
	background-image: url(/images/g-plus-ico.png), url(/images/soc-bg.png);
	background-repeat: no-repeat, repeat;
	background-position: center center,0 0;
}

.social-ico li a:hover{
	background-position:center center,0 100%;
}
.social-ico li{
	margin-left:2px;
	margin-right:2px;
	display:inline-block;
	position:relative;
}
/* Footer
-----------------------------------------------------------------------------*/
/*only main page*/
.footer {
	padding-top:15px;
	position:absolute;
	bottom:0px;
	min-height:115px;
	width:100%;
	background-image: url("/images/anons-slider-bg.png");
}
@media (max-width: 1000px){
	.about-left{
		float: none;
		width: 100%;
		text-align: center;
		padding-top: 20px;

	}
	.about-right{
		float: none;
		width: 100%;
		   padding: 0 0 40px;

	}
	.about-left img{
		display: inline-block;
	}
	.about{
		padding-top: 20px;
		padding-bottom: 80px;
		text-align: center;
	}
	.footer{
		text-align: center;
		position: relative;
		background-color: #000;
	}
	.footer-content .footer-col{
		width: 100%;
	}

}